.bg-light {
    background-color: rgb(255, 190, 74)!important;
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(0, 0, 0);
    font-size: 1.2em;
}

.navbar-collapse  a:hover{
    color:rgb(165, 126, 59)!important;

}

.customBackground {
    background-image: url(images/jumbotron.gif);
    background-repeat: no-repeat;
    background-size: 100% 90%;
    height: 60vh;
    background-attachment: fixed;
}

.customTextColor {
    color: rgb(220, 220, 220);
}

.customFooter {
    border-top: 1px solid rgb(153, 152, 152);
}

.customFont {
    font-size: 1.3em!important;
}

#employStudents .employStudents {
    color:rgb(165, 126, 59);
    font-weight: bold;
    /* border-left: 2px groove rgb(165, 126, 59); */
}


.customForm {
    height: 60vh;
    /* border: 2px groove rgb(0, 0, 0); */
}

.customFontAwesome{
    font-size: 6em;
    color: lightgray;
    border: 1px solid  lightgray;
    border-radius: 50%;
}

.customFontDelete{
    font-size: 1.5em;
    color: darkred;
}

.customFontEdit{
    font-size: 1.5em;
    color: green;
}

@media screen and (max-width: 990px) {

    .navbar-collapse {
        border-top: 3px groove rgb(165, 126, 59);
    }
    .navbar-collapse  a:hover{
        background-color:  rgba(165, 126, 59, 0.644)!important;
        color:rgb(121, 100, 63)!important;
    }

    .customBackground {
        background-size: 100% 55%;
        height: 50vh;
        background-attachment: fixed;
    }

}
